<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418506772713-ejlqo1dbh8nh3vivckd90550gtmr2jvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418506772713-ejlqo1dbh8nh3vivckd90550gtmr2jvg</string>
	<key>API_KEY</key>
	<string>AIzaSyAeaZA0cyjTxZa_YMoJe9B20hhXoNAZUyU</string>
	<key>GCM_SENDER_ID</key>
	<string>418506772713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtsocialize.uup.UupTest</string>
	<key>PROJECT_ID</key>
	<string>uup-eacb6</string>
	<key>STORAGE_BUCKET</key>
	<string>uup-eacb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418506772713:ios:b9fa4eea5e345aa9fca078</string>
	<key>DATABASE_URL</key>
	<string>https://uup-eacb6.firebaseio.com</string>
</dict>
</plist>